.event {
  background-color: #039be5;
  height: inherit;
  width: 95%;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  white-space: nowrap;

  &:hover {
    z-index: 6;
  }

  & span {
    text-align: left;
    margin-left: 8px;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
  }

  &__description {
    margin-top: 10px !important;
  }
}
